<div class="homepage-container-container">
  <div class="homepage-container">
    <br/><br/>
    <div class="text-center">
      <%= image_tag('BDClogo2015.svg', width: '90%') %>
    </div>
    <div class="text-center">
      <h3>Please pardon our dust while we are improving our site for your convenience.</h3>
      <p>Check out some of our past clients & references below.</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
      <div class="col-sm-4">
        I am a video
      </div>
    </div>
  </div>
</div>
